# Virtual Environment
venv/
env/
ENV/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test Cache
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite
*.sqlite3

# Environment variables & secrets
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary directories
1_clean_architecture_order_service/
